{% extends "components/campaigns/what_publish.html" %}
{% load static %}


{% block extrahead %}

<!-- Social Buttons CSS -->
<link href="{% static "bower_components/bootstrap-social/bootstrap-social.css" %}" rel="stylesheet">

{% endblock extrahead %}


{% block publish %}

<div class="row">
    <form action='{% url 'dashboard:campaigns_what_publish_comment_like' %}' method='POST'>
          {% csrf_token %}
    <div class="col-lg-10">
        <div class="col-lg-4">
            <div class="form-group">
                 {{ campaign.select }}
            </div>
        </div>
    </div>
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-12">
                    <div class="col-lg-3">
                        <label style="text-decoration: underline;">Filters</label>
                            <div class="form-group">
                                <label>Keywords:</label>
                                {{ campaign.keywords }}
                                <label>exclude keywords:</label>
                                {{ campaign.exclude }}
                            </div>
                    </div>
                    <div class="col-lg-4">
                        <label style="text-decoration: underline;">Settings</label>
                            <div class="form-group">
                                    <label>{{ campaign.like_all_posts_in_history }}
                                        like all posts in history</label>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="col-lg-10">
            <div class="pull-right">
            <input type="submit" name="confirm" value="CONFIRM" class="btn btn-primary btn-lg">
        </div>
        </div>
    </form>
</div>
<!-- /.row -->
    
{% endblock publish %}